{% extends 'meetings_management/base.html' %}
{% load static %}

{% block styles %}
    <link href="{% static 'meetings_management/css/plugins/jquery.qtip.min.css' %}" rel="stylesheet">
    <link href="{% static 'meetings_management/css/plugins/fullcalendar.min.css' %}" rel="stylesheet">
    <style>
        .fc-event-container {
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Reservaciones
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-calendar"></i> Reservaciones
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            {% if role == 0 %}
            <div class="col-lg-12">
                <a href="{% url 'app:new-reservation' %}" class="btn btn-success">
                    <i class="fa fa-plus-circle"></i> Añadir reservación
                </a>
            </div>
            <hr>
            {% endif %}
            <div class="col-lg-12">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'meetings_management/js/plugins/moment.min.js' %}"></script>
    <script src="{% static 'meetings_management/js/plugins/jquery.qtip.min.js' %}"></script>
    <script src="{% static 'meetings_management/js/plugins/fullcalendar.min.js' %}"></script>
    <script src='{% static 'meetings_management/js/plugins/locale/es.js' %}'></script>

    <script>
        var reservations = JSON.parse("{{ reservations|escapejs}}");

        $('#calendar').fullCalendar({
            events: reservations.map(function (res) {
                var title = res.room.name + ', ' + res.user;
                var status = res.confirmed ? '<b>Confirmado para: </b>' : '<b>Reservador por: </b>';
                var description = status + res.user +
                    '.<br/> <b>Desde: </b>' + moment(res.reserved_from).format('DD/MM/YYYY hh:mm:ss a') +
                    ',<br/> <b>Hasta: </b>' + moment(res.reserved_until).format('DD/MM/YYYY hh:mm:ss a') + '.';

                return {
                    pk: res.pk,
                    title: title,
                    description: description,
                    start: res.reserved_from,
                    end: res.reserved_until,
                    color: res.confirmed ? '#59C6F7' : '#9BA1A3'
                };
            }),
            locale: 'es',
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaDay'
            },
            dayClick: function (date) {
                $('#calendar').fullCalendar('gotoDate', date);
                $('#calendar').fullCalendar('changeView', 'agendaDay');
            },
            eventClick: function (event) {
                if ("{{ role }}" === "1") {
                    window.location = '/app/edit_reservation/' + event.pk;
                }
            },
            eventRender: function (event, element) {
                element.qtip({
                    style: {
                        classes: "qtip-bootstrap qtip-shadow"
                    },
                    content: {
                        title: '<b>' + event.title + '</b>',
                        text: '<p>' + event.description + '</p>'
                    },
                    position: {
                        at: 'center center'
                    }
                });
            }
        });
    </script>
{% endblock %}