{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Iniciar Sesión</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'meetings_management/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'meetings_management/css/login.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">

    <form class="form-signin" action="{% url 'app:login' %}" method="POST">{% csrf_token %}
        <h2 class="form-signin-heading">
            Iniciar Sesión
        </h2>
        {% if error %}
            <div class="alert alert-danger">
                <strong>{{ error }}</strong>
            </div>
        {% endif %}
        {{ form.non_field_errors }}
        {{ form.username.errors }}
        <label for="{{ form.username.id_for_label }}" class="sr-only">Nombre de Usuario</label>
        {{ form.username }}
        {{ form.password.errors }}
        <label for="{{ form.password.id_for_label }}" class="sr-only">Contraseña</label>
        {{ form.password }}
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Iniciar Sesión"/>
    </form>

</div> <!-- /container -->
</body>
</html>
